# these are the settings for java server applications managed by maven_installer

CONFIG=
LOGLEVEL=CONFIG
PUSHLEVEL=CONFIG
##### DON'T EDIT LINES BELOW
VERSION=${version}
CLASS=${mainClass}
CLASSPATH=${classpath}
LOGSETTING="-ll $LOGLEVEL -pl $PUSHLEVEL -lp /var/log/${artifactId}%g.log"
JMX=${jmxSettings}
##### DON'T EDIT LINES ABOVE
DAEMON=$JAVA
DAEMON_ARGS="$JMX -server -classpath $CLASSPATH $CLASS $LOGSETTING $CONFIG"


