# ${generatedText}

VERSION=${version}
JAR=${mainJar}
CLASSPATH=${classpath}
LOGSETTING="-lx ${logConfigPath}"
CONFIG=${configPath}
# enable jmx by giving free port number and uncomment following two lines.
#JMX_PORT=<free port>
#JMX=-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=$JMX_PORT -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
DAEMON=/usr/bin/java
LDPATH=-Djava.library.path=/opt/org.vesalainen/lib
DAEMON_ARGS="$JMX -server -classpath $CLASSPATH $LDPATH -jar $JAR $LOGSETTING $CONFIG"


